.btns {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: space-around;
    margin: 1.5em 0;
}

.btn-ger {
    background: #0073E6;
    border: 2px solid #3B44F6;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    font-family: 'Press Start 2P', cursive;
    font-size: 0.8em;
    font-weight: 200;
    padding: 10px;
}

.btn-ger:hover {
    background-color: #F7EC09;
}

.btn-ger:checked {
    background-color: #F7EC09;
}
