.container-titulo {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.titulo {
    color: #F7EC09;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    text-shadow: 5px 5px #0002A1;
    -webkit-text-stroke: #3B44F6;
    -webkit-text-stroke-width: 2px;
}

.pesquisa {
    padding: 10px;
    border: 1px solid #E3350D;
    border-radius: 5px;
    font-family: "Press Start 2P", sans-serif;
    background-color: #fff;
    color: #000;
    width: 100%;
    max-width: 300px;
}

.pesquisa:focus {
    outline: none;
    border: 2px solid #0073E6;
}

.pesquisa::placeholder {
    color: #0002A1;
}

