.container-pokemons {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1em;
    margin: 10px 16%;
    width: 90%;
}

.caixa {
    background-color: #5F6F94;
    border: 5px solid #D7C0AE;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    padding: 10px;
    text-align: center;
    width: 240px;
    height: 430px;
}

.nome, .numeracao, .classes {
    color: white;
}

.imagem-pokemon {
    align-self: center;
    width: 80%;
}

.classes {
    display: flex;
    justify-content: space-around;
}