.fairy {
    background-color: #FF9494;
}

.flying {
    background-color: #98A8F8;
}

.poison {
    background-color: #80558C;
}

.bug {
    background-color: #54B435;
}

.dark { 
    background-color: #181D31;
}

.dragon {
    background-color: #0002A1;
}

.psychic {
    background-color: #FF8E9E;
}

.grass {
    background-color: #82CD47;
}

.ghost {
    background-color: #1C315E;
}

.steel {
    background-color: #497174;
}

.fire {
    background-color: #E14D2A;
}

.ice {
    background-color: #7895B2;
}

.electric {
    background-color: #FFB200;
}

.rock {
    background-color: #AC4425;
}

.ground {
    background-color: #735F32;
}

.dark {
    background-color: #002B5B;
}

.fighting {
    background-color: #D75281;
}

.water {
    background-color: #0096FF;
}